<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/admin_dashboard.css">
</head>
<body>
	<div id="header">
		<h1>Admin Dashboard</h1>
	</div>
	
	<div id="div1">

		<div class="inner_div" id="inner_div9">
			<img class="expand" id="expand_issue_book" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Issue Book</h2>
			<form id="issue_book">
				<input type="text" id="ib_book_id" placeholder="Book ID" required /><br>
				<input type="text" id="ib_user_id" placeholder="User ID" required /><br>
				<div style="text-align: center;">
					<button id="ib_button">Issue Book</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div1">
			<img class="expand" id="expand_add_book" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Add Book</h2>
			<form id="add_book">
				<input type="text" id="ab_isbn" placeholder="ISBN" required /><br>
				<input type="text" id="ab_book_name" placeholder="Book Name" required /><br>
				<input type="text" id="ab_author" placeholder="Author Name" required /><br>
				<input type="number" id="ab_book_q" placeholder="Book Quantity" required /><br>
				<div style="text-align: center;">
					<button id="ab_button">Add Book</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div3">
			<img class="expand" id="expand_update_book" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Update Book</h2>
			<form id="update_book">
				<input type="text" id="ub_isbn" placeholder="ISBN" required /><br>
				<input type="number" id="ub_book_q" placeholder="Quantity" required /><br>
				<div style="text-align: center;">
					<button id="ub_button">Update Book</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div5">
			<img class="expand" id="expand_list_book" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>List Book</h2>
			<form id="list_book">
				<div style="text-align: center;">
					<button id="lb_button">List Book</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div7">
			<img class="expand" id="expand_search_book" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Search Book</h2>
			<form id="search_book">
				<input type="text" id="sb_isbn" placeholder="ISBN" required /="true"><br>
				<div style="text-align: center;">
					<button id="sb_button">Search Book</button>
				</div>
			</form>
		</div>
		
	</div>


<!--right side of the screen-->

	<div id="div2">

		<div class="inner_div" id="inner_div10">
			<img class="expand" id="expand_return_book" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Return Book</h2>
			<form id="return_book">
				<input type="text" id="rb_book_id" placeholder="User ID" required /><br>

				<div style="text-align: center;">
					<button id="rb_button" type="submit">Return Book</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div2">
			<img class="expand" id="expand_add_user" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Add User</h2>
			<form id="add_user">
				<input type="text" id="au_user_id" placeholder="User ID" required /><br>
				<input type="text" id="au_user_name" placeholder="User Name" required /><br>
				<input type="text" id="au_user_roll" placeholder="User Roll No." required /><br>
				<input type="text" id="au_user_dept" placeholder="User Dept." required /><br>
				<input type="password" id="au_user_pass" placeholder="User Password" required /><br>

				<div style="text-align: center;">
					<button id="au_button" type="submit">Add User</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div4">
			<img class="expand" id="expand_update_user" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Update User</h2>
						<form id="update_user">
				<input type="text" id="uu_user_id" placeholder="User ID" required /><br>
				<input type="password" id="uu_user_pass" placeholder="Password" required /><br>
				<div style="text-align: center;">
					<button id="uu_button" >Update User</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div6">
			<img class="expand" id="expand_list_user" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>List User</h2>
			<form id="list_user">
				<div style="text-align: center;">
					<button id="lu_button" >List User</button>
				</div>
			</form>
		</div>

		<div class="inner_div" id="inner_div8">
			<img class="expand" id="expand_search_user" src="/expand.svg" width="20px" height="20px" style="float: right;">
			<h2>Search User</h2>
			<form id="search_user">
				<input type="text" id="su_user_id" placeholder="User ID" required /><br>
				<div style="text-align: center;">
					<button id="su_button">Search User</button>
				</div>
			</form>
		</div>

	</div>
	<br clear="all">
	<br clear="all">

</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/JS/jquery_rotate.js"></script>
<script type="text/javascript" src="/JS/admin_dashboard.js"></script>
</html>