<!DOCTYPE html>
<html>
<head>
	<title>Book List</title>
	<link rel="stylesheet" type="text/css" href="/CSS/book.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
	<div id="header">
		<center>
			<span>Total Book:<b> <%= books.length %></b> </span>
			</center>
	</div>
	
	<div>
	<% for(var i = 0; i < books.length; i++){ %>
		<table class="book_cont">
			<tr>
				<th>Book Name</th>
				<th>Author</th>
			</tr>
			<% for(var i = 0; i < books.length; i++){ %>
			<tr style="color: #000">
				<td>
					<%= books[i].name %>
				</td>
				<td>
					<%= books[i].author %>
				</td>
			</tr>
			<% } %>
		</table>
	<% } %>
	</div>

</body>
<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){
	$("button").click(function(e){
		e.preventDefault();
		var isbn = $(this).val();
		window.location.href = "/admin/book/"+isbn;
	});
});
</script>

</html>