<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div id="header">
		<h1>Library Management System</h1>
	</div>
	
	<div id="div1">
		<div id="inner_div1">
			<h2>Admin Login</h2>
			<input type="text" id="admin_id" placeholder="Admin ID"><br>
			<input type="password" id="admin_pass" placeholder="Password"><br>
			<div style="text-align: center;">
				<button id="admin_login">Admin Login</button>
			</div>
		</div>
		
	</div>

	<div id="div2">
		<div id="inner_div2">
			<h2>Student Login</h2>
			<input type="text" id="stu_id" placeholder="Student ID"><br>
			<input type="password" id="stu_pass" placeholder="Password"><br>
			<div style="text-align: center;">
				<button id="stu_login">Student Login</button>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>

</html>