<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/CSS/login.css">
</head>
<body>
	<div id="header">
		<h1>Library Management System</h1>
	<!-- 	<p style="color: white;">Our goal is to provide a user friendly interface to enable next generation of library management. We strive to simplify and automate trivial processes to provide end user peace of mind</p> -->
	</div>
	
	<div id="div1">
		<div id="inner_div1">
			<h2>Admin Login</h2>
			<input type="text" id="admin_id" placeholder="Admin ID"><br>
			<input type="password" id="admin_pass" placeholder="Password"><br>
			<div style="text-align: center;">
				<button id="admin_login">Admin Login</button>
			</div>
		</div>
		
	</div>

	<div id="div2">
		<div id="inner_div2">
			<h2>User Login</h2>
			<input type="text" id="stu_id" placeholder="User ID"><br>
			<input type="password" id="stu_pass" placeholder="Password"><br>
			<div style="text-align: center;">
				<button id="stu_login">User Login</button>
			</div>
		</div>
	</div>
	<br clear="all">

	<footer>
		<small> Created by Ritu Raj (1607005), Sanket Sanath Jha (1607008), Bipul Kumar (1607035), Arkaza Kumari (1607039) </small>
	</footer>

</body>

<script type="text/javascript" src="/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(()=>{
		$("#admin_login").on("click", ()=>{
			var admin_id = $("#admin_id").val();
			var password = $("#admin_pass").val();
			var data = { admin_id, password };
			$.ajax({
				type: 'POST',
				url: '/admin/login',
				data,
				success: function() {
					window.location = "/admin/dashboard";
				},
				error: function(error) {	
				console.log(error);	
					alert(error.responseText);
					console.log(error.responseText);
				}
			});
		});
		$("#stu_login").on("click", ()=>{
			var user_id = $("#stu_id").val();
			var password = $("#stu_pass").val();
			var data = { user_id, password };
			$.ajax({
				type: 'POST',
				url: '/user/login',
				data,
				success: function() {
					window.location = "/user/dashboard";
				},
				error: function(error) {	
				console.log(error);	
					alert(error.responseText);
					console.log(error.responseText);
				}
			});
		});
	});
</script>

</html>