<html>
	<head>
		<title>
			Enter tags
		</title>
		<script src="/JS/jquery-3.3.1.min.js"></script>

		<script src="/JS/jquery-ui.js"></script>

    <link rel="stylesheet" href="/CSS/jquery-ui.css">
    <style>
        .ui-autocomplete {
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #312b21;
            color: white;
        }
        * html .ui-autocomplete {
            height: 100px;
        }
        .extra {
            width: 50px;
        }
    </style>
		<style type="text/css">
			

textarea:focus, input:focus{
    outline: none;
    font-size: 1.4em;
}
h2{ text-align: center; margin-top: 0px; margin-bottom: 0px; }
button{
  background-color: #312b21;
  border: none;
  color: white;
  display: inline;
  padding: 7px 15px;
  text-align: center;
  font-size: 1.1em;
  float: center;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
input{
	background-color: transparent;
  color: black;
  border: 0px;
  font-size: 1em;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}
span {
  color: black;font-size: 1.2em;opacity: 0.8; background-color: #e1d2b8; padding: 8px 16px 8px 16px; border-radius: 40px;
  font-weight: normal;
}
body {
  width: 90%;
  display: inline-block;
  font-family: 'Nunito',sans-serif;
}
#search_book {
  margin: auto;
  width: 400px;
  padding: 30px;
  padding-bottom: 45px;
  color: black;
  font-size: 1.2em;
  opacity: 0.8;
  background-color: #e1d2b8;
  border-radius: 15px;
  box-shadow: 5px 5px #000000aa;
}
		</style>
	</head>
	<body>
		<div class="container">

    <center>
      <span>Advanced Search (using tags)</span>
    </center>

      <br>
      <br>
    			<div id="search_book">
				<input type="text" id="sb_tag" placeholder="Tag" required /="true"><br>
				<div style="text-align: center;">
					<button id="sb_button">Search Book</button>
				</div>
			</div>
		</div>
	</body>
	 <script>
	 	var availableTags;
  $( function() {
    availableTags = split("<%=tags%>");



	$("#sb_button").click((e)=>{
		e.preventDefault();
		console.log("test")
		var value = $("#sb_tag").val();
    	var selTags = split(value);
    	console.log(selTags);
    	var tags = [];
    	for(var i = 0;i<availableTags.length;i++) {
    		tags[availableTags[i]]=i+1;
    	}
    	var idTags=[];
    	var i = 0;
    	var str="";
    	for(;i<selTags.length;i++) {
    		if(typeof tags[selTags[i]] != 'undefined') {
    			str+=tags[selTags[i]];
    			i++;
    			break;
    		}
    	}
    	for(;i<selTags.length;i++) {
    		if(typeof tags[selTags[i]] != 'undefined')
    			str+=","+tags[selTags[i]];
    	}
    	console.log(str);
    	var data ={str}
    	$.ajax({
    		type: 'POST',
    		url: '/search_tags',
    		data,
    		success: function(str) {
    			console.log("success")
    			console.log(str)
    			window.location='/book_list?str='+str;
			},
			error: function(error) {	
				alert("No books found for given tags");
			}
    	})
    });
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#sb_tag" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  } );
  </script>
</html>
