body{
	background-image: url('/back.jpg');
	background-size: cover;
	color: #00d8ff;
	font-family: arial;
}

#header{
	background-color: #222;
	padding: 40px;
	text-align: center;
	margin-bottom: 30px;
}
#div1{
	float: left;
	width: 47%;
}
#div2{
	float: right;
	width: 47%;
}
p{
	padding-right: 120px;
	padding-left: 120px;
}

.inner_div{
	background-color: #222;
	color: #eee;
	width: 400px;
	padding: 30px;
}

h2{ text-align: center; color: #00d8ff; margin-top: 0px; margin-bottom: 0px; }
#inner_div1, #inner_div3, #inner_div5 { float: right; margin-bottom: 10px;}
#inner_div2, #inner_div4, #inner_div6{ float: left; margin-bottom: 10px;}

input{
	background-color: transparent;
	color: white;
	border: 0px;
	border-bottom: 2px solid white;
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
}

button{
	background-color: #00d8ff;
    border: none;
    color: black;
    display: inline;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    float: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}


#add_book, #add_user, #update_book, #update_user, #list_book, #list_user{
	display: none;
}

.expand{
	cursor: pointer;
}

