body{
	background-image: url('/back.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: #eee;
	font-family: 'Nunito',sans-serif;
	overflow: true;
}

#header{
	background-color: transparent;
	opacity: 0.7;
	padding: 3px;
	margin-bottom: 30px;
	text-align: left;
	position: -webkit-sticky;
	position: sticky;
}

.book_cont {
	padding: 20px;
	background-color: #e1d2b8;
	color: #000;
	opacity: 0.8;
    font-size: 1.2em;
    margin-top: 22px;
	border-radius: 15px;
	box-shadow: 5px 5px #000000aa;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px 12px 4px 12px;
}
table {
  width: 90%;
  margin: auto;
}


.books_cont {
	width: 700px;
	padding: 0px 50px;
	margin-top: 80px;
	color: white;
	border-radius: 20px;
	display: inline-block;

}
h1 {
	font-weight:normal;
	font-size: 1.9em;
}

input {
	width: 50%;
	padding: 5px;
	background-color: #222;
	border: 1px groove #bbb;
	color: white;
	font-size: 100%;
	box-sizing: border-box;
}

button {
	width: 50%;
	padding: 5px;
	/*background-color: #d2ecff;*/
	border: 1px groove #bbb;
	margin-top: 10px;
	font-size: 100%;
	box-sizing: border-box;
	/*float: right;*/
}

.issue_btn{ background-color: #e2f7ff; }
.return_btn{ background-color: #ffebe2; }